
.signup-form{
    position: absolute;
   
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16rem;
    left: 48rem;
    border: 1px solid #ebe8e8;
    padding: 50px;
}
.login-btn-link{
    margin-left: 9rem;
    font-size: 17px;
}